In [74]:
import pandas as pd
import requests 
import json

#Visualizations on map
import folium
from folium.plugins import MarkerCluster

In [75]:
df = pd.read_csv("Restaurants.csv")

In [76]:
df.head()

   Unnamed: 0 restaurant                      street    zip    city  country
0           0  McDonalds  S-Bahnhof Alexanderplatz 1  10178  Berlin  Germany
1           1  McDonalds  U-Bahnhof Alexanderplatz 1  10178  Berlin  Germany
2           2  McDonalds               Europaplatz 1  10557  Berlin  Germany
3           3  McDonalds   Walther-Schreiber-Platz 1  12161  Berlin  Germany
4           4  McDonalds                 Hansastr. 1  13053  Berlin  Germany

In [77]:
for i,row in df.iterrows():
    Address = str(df.at[i,'street'])+','+ str(df.at[i,'zip'])+','+ str(df.at[i,'city'])+','+ str(df.at[i,'country'])
    parameters = {

        "key" : "29c1LGWSagAgRW7SHIb5pJtrjJrTQaFd",
        "location" : Address
    }

    response = requests.get("http://www.mapquestapi.com/geocoding/v1/address", params = parameters)
    data = json.loads(response.text)['results']

    latitude = data[0]['locations'][0]['latLng']['lat']
    longitude = data[0]['locations'][0]['latLng']['lng']
    
    df.at[i,'latitude']=latitude
    df.at[i,'longitude']=longitude

In [78]:
df.head(5)

,Unnamed: 0,restaurant,street,zip,city,country,latitude,longitude
0,0,McDonalds,S-Bahnhof Alexanderplatz 1,10178,Berlin,Germany,52.52127,13.41268
1,1,McDonalds,U-Bahnhof Alexanderplatz 1,10178,Berlin,Germany,52.52127,13.41268
2,2,McDonalds,Europaplatz 1,10557,Berlin,Germany,52.52569,13.36846
3,3,McDonalds,Walther-Schreiber-Platz 1,12161,Berlin,Germany,52.46478,13.32792
4,4,McDonalds,Hansastr. 1,13053,Berlin,Germany,52.54702,13.46841

In [94]:
maplocn = folium.Map(location=[52.52569,13.36846],tiles='OpenStreetMap',zoom_start=5)

for j,row in df.iterrows():
    lat = df.at[j,'latitude']
    long = df.at[j,'longitude']
    rest = df.at[j,'restaurant']
    
    if rest == 'McDonalds':
        color='blue'
    else: 
        color='red'
    popup = str(df.at[j,'restaurant'])+'<br>'+str(df.at[j,'zip'])+'<br>'+ str(df.at[j,'city'])+'<br>'+ str(df.at[j,'country'])
    folium.Marker(location=[lat,long],popup=popup,icon=folium.Icon(color=color)).add_to(maplocn)

In [95]:
maplocn.save("locn.html")